*{
  box-sizing: border-box;
}

.app{
  width: 50%;
  margin: auto;
  border: 1px solid;
  border-radius: 10px;
  padding: 25px;
  height: calc(100vh - 10vh);
  margin-top: calc(100vh - 95vh);
  margin-bottom: calc(100vh - 95vh);
  overflow: auto;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input, select{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
}

textarea{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
}

fieldset{
  border-radius: 10px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

h1{
  text-align: center;
}